# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# local data
api/data

# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
venv
__pycache__
journal
mtb_trails_by_id.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
